.center {
	text-align:center;
}

button.choice-food-burger {
	background-image: url(../img/food-burger.png) !important;
}

button.choice-food-pizza {
	background-image: url(../img/food-pizza.png) !important;
}

.custom-ionic {
  background-image: url(../img/ionic.png);
}

.eyeImage {
    width:100%;
    max-width:320px;
}

.title-centred {
    text-align:center;

}

.title-content {
    background-color:#660099;
}

.item .title-text  {
    font-size:large;
}

button.irk-icon-small:before {
  font-size: 30px !important;
}