<ion-modal-view class="irk-modal">
 
  <irk-ordered-tasks>
  <irk-task prevent-drag>
     <irk-test id="t2"  text="This is not required so you can skip this." min="1" max="10" step="1" value="5" min-text="Low" max-text="High"/>
      </irk-task>

       <irk-task>
    <irk-scale-question-step id="q2" title="A scale question." text="This is not required so you can skip this." min="1" max="10" step="1" value="5" min-text="Low" max-text="High"/>
  </irk-task>


      </irk-ordered-tasks>
    

    </ion-modal-view>