<ion-modal-view class="irk-modal">
  <ion-content>
  
      <form name="mrForm" class="irk-slider" novalidate>
                    <div class="irk-centered">
                    <div class="irk-text-centered">

      <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume" min="0" max="100" value="35" step="5">
  <i class="icon ion-volume-high"></i>
</div>

                        </div>
                        </div>
          </form>

      </ion-content>

    </ion-modal-view>