<ion-view hide-nav-bar="true">
  <ion-content class="title-content">
  
  
    <div class="title-centred">
        
        <img src="img/eyereport.png" alt="logo" class="eyeImage" />
    </div>

  	<div class="card list">
  		<div class="item item-text-wrap title-centred">
  			<p class="title-text">Welcome to study</p> <p>X16-999</p>

        <button class="button button-block  button-energized " ng-click="openModalEye()">
        Start
        </button>
      </div>

      
    </div>

  </ion-content>
</ion-view>