<ion-view view-title="Eye Report">
  <ion-content>
  
      <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>

  	<div class="card list">
  		<div class="item item-text-wrap">
  			Examples of the question and answer types in Ionic ResearchKit. Each screen is a called 'step'.

        <button class="button button-block button-outline button-positive" ng-click="openModal()">
        Launch Sample Survey
        </button>
      </div>

      <div class="item item-text-wrap">
        Example consent steps - these can be sent back to the server electronically.

        <button class="button button-block button-outline button-positive" ng-click="openModalConsent()">
          Launch Sample Consent
        </button>
      </div>

      <div class="item item-text-wrap">
        Active tasks invite users to perform activities under partially controlled conditions.

        <button class="button button-block button-outline button-positive" ng-click="openModalActiveTask()">
          Launch Sample Active Task
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>